.content {
    margin-top:50px;
    margin-bottom:50px;
    display:flex;
    align-items:center;
    justify-content:center;
    flex-direction:column;
}

.paragraf {
    font-size:20px;
    font-family:'Times New Roman', Times, serif;
    text-align:justify;
    margin:75px;
    max-width:65%;
    user-select:none;
}

video {
    object-fit:fill;
    animation:fade;
    animation-duration:2s;
    animation-timing-function:linear;
}